body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, aquamarine, greenyellow);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registerpayment-container {
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #333333;
}

input[type="text"],
input[type="date"],
select {
    padding: 10px;
    margin-bottom: 20px;
    border: 3px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333333;
    background-color: #fafafa;
    box-sizing: border-box;
}

h1 {
    color: #333333;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
    flex: 1;
}

button[type="submit"]:nth-child(1) {
    background-color: black;
    text-decoration: none;
    text-align: center;
    line-height: normal;
}

button[type="submit"]:nth-child(2) {
    background-color: green;
}

button[type="submit"]:hover {
    opacity: 0.7;
}

button[type="submit"] a {
    color: #ffffff;
    text-decoration: none;
}

@media (max-width: 600px) {
    .registerpayment-container {
        padding: 20px;
    }

    input[type="text"],
    input[type="date"],
    select {
        font-size: 14px;
        padding: 8px;
    }

    h1 {
        font-size: 18px;
    }

    button[type="submit"] {
        font-size: 14px;
        padding: 8px 16px;
    }
}